header {
    box-sizing: border-box;
    text-align: center;
    color: red;
    </br>
}   
    
 .container {
  display: flex;
  justify-content: center;
  align-items: center;     
  flex-direction: column;  
  height: 100vh;           
}
    
   .parent {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 100vh;           
}   

form{
    color: blue;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: [label] auto [input] 1fr;
}
form > label{
/*    background-color: greenyellow;*/
      grid-column: label;
}
form > input{
    font-size: 1em;
    grid-column: input;
}

form > input[type="submit"]{
    grid-column: span 2;
}
